In [1]:
import numpy as np

In [2]:
l = [1,2,3,4]

In [4]:
ar = np.array(l)
l

[1, 2, 3, 4]

In [7]:
ar.shape

(4,)

In [8]:
ar.dtype

dtype('int32')

In [9]:
z = np.zeros((3,3))
z

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [11]:
z = np.zeros((3,3),dtype = "int64")
z

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]], dtype=int64)

In [20]:
r = np.random.randint(1,10,(4,4))
r

array([[2, 5, 9, 2],
       [7, 4, 6, 4],
       [7, 4, 1, 7],
       [1, 7, 1, 2]])

In [21]:
r[1:3,2:3] # rows are values downward, and columns are towards right , see like rows

array([[6],
       [1]])

In [22]:
r[:,2:]

array([[9, 2],
       [6, 4],
       [1, 7],
       [1, 2]])

In [23]:
r.size

16

In [24]:
r.shape # (r,c)

(4, 4)

In [25]:
# operations on array
r.T

array([[2, 7, 7, 1],
       [5, 4, 4, 7],
       [9, 6, 1, 1],
       [2, 4, 7, 2]])

In [26]:
r = np.dot(r.T,r)  # dot similar to matrix multiplication
r

array([[103,  73,  68,  83],
       [ 73, 106,  80,  68],
       [ 68,  80, 119,  51],
       [ 83,  68,  51,  73]])

In [30]:
x = np.random.rand(3,4)
x

array([[0.66231582, 0.95936041, 0.69124552, 0.67652108],
       [0.78289763, 0.37563221, 0.84530111, 0.53054571],
       [0.85998066, 0.03052881, 0.68907103, 0.17942691]])

In [34]:
ar = np.array([1,2,3])

In [35]:
np.cross(ar,ar)

array([0, 0, 0])

In [36]:
#staking of array
a = np.array([2,3,4,5])
b = np.array([2,5,6,7])

In [38]:
np.stack((a,b),axis = 0) # means there are taken as 1st and 2nd column

array([[2, 3, 4, 5],
       [2, 5, 6, 7]])

In [40]:
np.stack((a,b),axis = 1) # arguments are taken as rows

array([[2, 2],
       [3, 5],
       [4, 6],
       [5, 7]])

In [39]:
np.sum(x,axis = 0)

array([2.30519411, 1.36552143, 2.22561766, 1.38649369])

In [41]:
# For axis=0, this means that we apply a function along each “column”, or all values that occur vertically.
# For axis=1, this means that we apply a function along each “row”, or all values horizontally

In [42]:
a.reshape((2,-1))

array([[2, 3],
       [4, 5]])

statistics

In [44]:
a = np.array([[1,2,4,5],[3,6,7,8]])
a

array([[1, 2, 4, 5],
       [3, 6, 7, 8]])

In [45]:
np.min(a,axis = 1)

array([1, 3])

In [46]:
np.max(a) # overall maximum

8

In [48]:
b = a**2 + 3
b

array([[ 4,  7, 19, 28],
       [12, 39, 52, 67]], dtype=int32)

In [50]:
m = np.mean(b)
m

28.5

In [53]:
m = np.sum(b)/b.size
m

28.5

In [60]:
m = np.mean(b,axis = 1)
m

array([14.5, 42.5])

In [80]:
sd = np.std(b,axis = 1)
sd

array([ 9.60468636, 20.20519735])

In [81]:
mc = np.mean(a,axis = 0)

In [83]:
a - mc  # substraction form each columns

array([[-1. , -2. , -1.5, -1.5],
       [ 1. ,  2. ,  1.5,  1.5]])

In [75]:
np.mean(abs((b.T - m).T)**2,axis = 1)  # substraction elements form each row

array([ 92.25, 408.25])

In [76]:
sd = np.sqrt(np.mean(abs((b.T-m)**2).T,axis = 1))
sd

array([ 9.60468636, 20.20519735])

In [94]:
np.random.seed(2)

In [95]:
np.random.randint(2,4,(3,3))  # it gives same array when executed with seed = 2 or some other constant

array([[2, 3, 3],
       [2, 2, 3],
       [2, 3, 2]])